[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "==2.24.0"
flask = "==1.1.2"

[dev-packages]
pytest = "==6.0.2"
pytest-mock = "==3.4.0"
responses = "==0.12.1"
coverage = "==5.3.1"

[requires]
python_version = "3.9.2"

[scripts]
app = "env FLASK_ENV=development python3 server.py"